nav a {
    text-decoration: none;
    color: rgb(74, 63, 123);
    margin: 2em;
}

nav {
    height: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 2em;
}

.joinForm_box {

    /* border: 1px solid rgb(184, 177, 177); */
    padding: 10px;
}

.innerbox1 {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 80px;
}

.innerbox {
    display: grid;
    justify-content: center;
    padding: 5px;
    grid-gap: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


.s_box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;

}

.b_box {
    display: flex;
    justify-content: center;
}

.box1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerbox {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;

}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 69, 108);

}

table {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 50;
}

.w-btn-gray {
    border-radius: 10;
    border: 0;
    background-color: #a3a1a1;
    color: white;
    text-shadow: 1px 1px darkslategray;
}

#underline {
    position: absolute;
    width: 27%;
    background-color: rgb(255, 143, 177);
    top: 180px;

    height: 4px;
}